/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}
.text-m p{
    line-height: 1;
    font-size: 28px;
    font-family: 'Merriweather', serif;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
section{
    margin-top: 30px;
    /*margin-bottom: 20px;*/
}
.main-container{
    width: 1280px;
    max-width: 100%;
}
.wrapper{
}
.head-text{
    text-align: center;
}
.head-text h1{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
}
.backgr{
    background-size: cover;
    height: 960px;
    background: url("../img/New_Front_View1.jpg") no-repeat center center;
}
.first-slider{
    width: 600px;
    margin-bottom: 70px;
}

/*section country*/
.carousel-secound{
    width: 100%;
    margin-bottom: 100px;
}
.container-country{
    margin-top: 40px;
}
.text-m{
    position: absolute;
    left: 0 !important;
    width: 700px;
    max-width: 100%;
    margin-left: 10%;
    margin-bottom: 150px;
}
.picture-descrpt{
    margin: 25px 0 25px 0;
}
.slider-widht{
    /*height: 600px !important;*/
}
.row-country{
    margin: 20px 0 35px 0;
}
.slider-widht .item img{
    height: 600px !important;
}
.item-country{
    text-align: center;
    width: 125px;
    height: 80px;
}
.item-country figure{
    text-align: center;
    width: 44px;
    height: 33px;
}
.item-country figure figcaption p{
    width: 140px;
    font-size: 13px;
    font-family: 'Merriweather', serif;
}
.item-country>figure>img,.double-figure>img{
    width: 44px;
    height: 33px;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.double-figure{
    margin-top: 5px;
}
.double-f{
    position: absolute;
    margin-left: 15px !important;
    z-index: 1;
    height: 33px;
}
.double-text{
    margin-top: 20px;
}
.double-s{
    position: absolute;
    z-index: 0;
}
.picture-descrpt img{
    width: 156px;
    max-width: 100%;
    height: 54px;
}
.double-text{
    position: absolute;
    bottom: 0;
    top:36px;
}
.row-description{
    display: flex;
    justify-content: center;
}
.text-description{
    width: 580px;
    max-width: 100%;
    padding-left: 50px;
}
.text-description p{
    line-height: 28px;
    text-align: left;
    font-size: 18px;
    font-family: 'Merriweather', serif;
}
/*section first step*/
.first-step{
    margin-top: 70px;
    margin-bottom: 250px;
}
.row-first-step{
    margin-bottom: 70px;
}
.title-small{
    text-align: center;
    font-family: "Merriweather",serif;
    font-size: 20px;
}
.project .item img{
    width: 100%;
}
.project-slider{
    margin-right: -15px !important;
    margin-left: -15px !important;
    width: 1170px;
    height: 600px;
    padding-bottom: 250px;
}

/*section our team*/
.title-meta{
    margin: 30px 0 30px 0;
    text-align: center;
    font-size: 27px;
    font-family: "Open Sans",sans-serif;
    font-weight: bold;
}
.picture-team{
    margin-top: 100px;
    margin-bottom: 100px;
}
.picture-team figure img{
    width: 352px;
    max-width: 100%;
    height: 352px;
}
.team-text{
    margin-top: 100px;
    height: 500px;
    max-height:100% ;
    margin-bottom: 100px;
    max-width: 100%;
}
.text-block p{
    line-height: 57px;
    width: 216px;
    max-width: 100%;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}
.architecture-project{
    height: 700px;
}
/*section project*/
.slider-project{
    height: 700px;
    max-height: 100%;
}
/*section sliders*/
.link-place{
    text-align: center;
}
.link-place a{
    text-align: center;
    font-size: 20px;
    color: #821917;
    font-family: "Roboto Slab",serif;
}

/*main meta*/
.main-meta{
    /*padding-top: 100px;*/
    margin-bottom: 200px;
    margin-top: 300px;
    height: 500px;
}
.some-icon{}
.some-icon figure{
    text-align: center;
}
.some-icon figure img{
    width: 65px;
    max-width: 100%;
    height: 60px;
    padding-bottom: 15px;
    text-align: center;
}
.some-icon figure figcaption p{
    font-family: "Merriweather",serif;
    font-size: 20px;
    text-align: center;
}


/*sell section*/
.sell{
    margin-bottom: 70px;
}
.sale{
    width: 1170px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.sale h2{
    display: block;
    text-align: center;
    font-size: 55px;
    font-family: "Open Sans", sans-serif;
    color: #821917;
    font-weight: bold;
}
.sale p{
    text-align:center;
    display: block;
    margin: 30px 15%;
    font-family: "Merriweather",serif;
    font-size: 20px;
}
.main-btn{
    text-align: center;
    height: 340px;
    background: #F1EDED;
    padding-top: 60px;
    padding-bottom: 40px;

}
.main-btn button{
    /*border:0;*/
    outline: none;
    border-radius: 8px;
    padding-top: 20px ;
    padding-bottom: 20px ;
    width: 380px;
    max-width: 100%;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    background: #821917;
    font-size: 24px;
    margin-top:30px ;
}
.main-btn p{
    text-align: center;
    font-weight: bold;
    line-height: 36px;
    margin: 0 auto 0 auto;
    width: 780px;
    font-size: 24px;
    font-family: "Merriweather",serif;
}
.other-btn{
    margin-top: 30px ;
    /*text-align: center;*/
}
.text-p{
    margin-top: 50px;
    margin-bottom: 50px;
}
.text-p p{
    text-align: left;
    font-family: "Merriweather",serif;
    font-size: 20px;
}
.other-btn{
    padding-top: 30px;
}
.button-bottom{
    margin-top: 165px;
}
.other-btn button, .button-bottom button{
    padding: 15px;
    border-radius: 8px;
    outline: none;
    /*border:0;*/
    width: 370px;
    max-width: 100%;
    background: #1F4788;
    color: #fff;
    font-size: 22px;
    font-family: "Roboto Slab",serif;
    font-weight: bold;
}
.text-section{
    width: 100%;
    background: #1F4788;
    color: #fff;
    text-align: center;
    /*height: 130px;*/
    padding: 70px 106px;
}
.text-section p{
    line-height: 1;

    font-size: 40px;
    font-weight: bold;
    font-family: "Merriweather", serif;
}
.other-text{
    width: 100%;
    display: flex;
    justify-content: center;
}
.other-text p{
    padding-top: 35px;
    text-align: center;
    width: 860px;
    max-width: 100%;
    font-size: 30px;
    font-family: "Merriweather", serif;
    /*font-weight:;*/
    line-height: 1;
    color: dodgerblue;
}
/*section contact*/
.row-contact{
    display: flex;
    justify-content: center;
}
.item-contact h4{
    font-weight: bold;
    font-size:20px;
    font-family: "Merriweather",serif;
    margin-bottom: 15px;
}
.item-contact p{
    width: 325px;
    max-width: 100%;
    font-size:20px;
    font-family: "Merriweather",serif;
}
.item-contact a, span{
    display: block;
    font-size:20px;
    font-family: "Merriweather",serif;
}
.item-contact span{
    font-family: "Merriweather", serif;
}
.item-contact a:nth-child(1){text-decoration: solid;}
.item-contact a:nth-child(3){
    color: #000;
}
.item-contact a{
    width: 200px;
}
.map{
    margin-top: 50px;
    margin-bottom: 100px;
    max-width: 100%;
}
/*slider*/
.sliders-model{
    margin-bottom: 250px;
}
.sliders-allproject{
    margin-bottom: 250px;
}
.item img{width: 100%;}
.suss-project{height: 600px !important;
max-height: 100%;}
.carousel .item {
    -webkit-transition: 0.7s ease-in-out opacity;
    -moz-transition: 0.7s ease-in-out opacity;
    -o-transition: 0.7s ease-in-out opacity;
    transition: 0.7s ease-in-out opacity;
    left: 0 !important;
}
.carousel .next.left,
.carousel .prev.right {
    opacity: 1;
    z-index: 1;
}
.carousel .active.left,
.carousel .active.right {
    opacity: 0;
    z-index: 2;
}
.carousel .carousel-control {
    z-index: 1000;
    outline:none;
}


.carousel-indicators li {

    width: 18px !important;
    height: 18px !important;
    background-color: rgba(211, 47, 47, 0.3) !important;
    border: 0px solid rgba(211, 47, 47, 0.3) !important;
    background: rgba(211, 47, 47, 0.3) !important;
}
.carousel-indicators .active{
    background: #a63e3e !important;
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
